.RecentOrders {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0px 6px #c4c4c4;
  border-radius: 0.5rem;
  overflow: hidden;
}

.Header {
  color: #4e4e4e;
  padding-bottom: 0.8rem;
  text-align: center;
  font-size: larger;
  font-weight: 500;
  border-bottom: 1px solid #cecece;
}

.Container {
  flex: 1;
  overflow-y: scroll;
}

.Container::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}
