.AllProducts {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.Selected {
  font-size: larger;
  font-weight: 500;
}

.Empty {
  height: calc(100vh - 8rem);
  display: grid;
  place-items: center;
}
