.AddButton {
  padding: 0.4rem 0.8rem;
  color: white;
  background-color: #2a2a2a;
  border: 2px solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all ease-in-out 260ms;
}

.AddButton:hover {
  border: 2px solid #dddddd;
  box-shadow: 0px 2px 6px #a5a5a5;
}
