.Search {
  width: 50%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 2rem;
  overflow: hidden;
  background-color: white;
}

.Search > input {
  flex: 1;
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
}

.SearchIcon {
  position: relative;
  background-color: #212121;
  padding: 0.6rem 0.7rem;
  border-radius: 50%;
}

.SearchIcon > svg {
  position: relative;
  top: 2px;
}
