.Food {
  height: max-content;
  box-shadow: 0px 0px 1.2px grey;
  border-radius: 0.4rem;
  overflow: hidden;
  transition: all ease-in-out 200ms;
}

.Food:hover {
  cursor: default;
  box-shadow: 0px 0px 8px grey;
}

.Image {
  width: 100%;
  height: 14rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Details {
  padding: 0.4rem;
}

.Details span {
  margin-right: 0.4rem;
  font-weight: 500;
}

.NameContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
}

.Rating {
  padding: 0.2rem;
  font-size: 0.8rem;
  color: white;
  background-color: green;
  border-radius: 4px;
}

.Description {
  max-width: 15rem;
  white-space: normal;
}

.CTAs {
  padding: 0 0.6rem 0.6rem 0.6rem;
  display: flex;
  justify-content: space-between;
}

.CTAs > div {
  padding: 2px 6px;
  font-size: 0.9rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.CTAs > div:hover {
  box-shadow: 0px 2px 8px grey;
}

.EditBtn {
  background-color: grey;
}

.DeleteBtn {
  background-color: red;
}
