.Restaurant {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1.2px grey;
  overflow: hidden;
  transition: all ease-in-out 200ms;
}

.Restaurant:hover {
  cursor: default;
  box-shadow: 0px 2px 8px grey;
}

.Image {
  height: 16rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Details {
  padding: 0.6rem;
}

.Details > div {
  margin: 0.2rem 0;
}

.NameContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
}

.Rating {
  padding: 0.2rem;
  font-size: 0.8rem;
  color: white;
  background-color: green;
  border-radius: 4px;
}

.Field {
  display: flex;
}

.Title {
  margin-right: 0.4rem;
  font-weight: 500;
}

.CTAs {
  padding-top: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.CTAs > div {
  padding: 2px 6px;
  font-size: 0.9rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.CTAs > div:hover {
  box-shadow: 0px 2px 8px grey;
}

.EditBtn {
  background-color: grey;
}
