.DropDownSelection {
  width: auto;
  cursor: pointer;
}

.Selected {
  width: calc(100% - 0.8rem);
  padding: 0.4rem;
  position: relative;
}

.DropDown {
  position: absolute;
  height: max-content;
  max-height: 6rem;
  padding: 0.4rem;
  color: black;
  background-color: white;
  border-radius: 0px 0px 2px 2px;
  z-index: 2;
  overflow-y: auto;
}

.Item {
  padding: 8px;
  border-radius: 2px;
}

.Item:hover {
  background-color: #e9e9e9;
}
